#heading{
    margin-left: 15px;
}

mat-toolbar
{
    display: flex;
    justify-content: flex-start;
}

mat-icon
{
    flex:0;
}

mat-toolbar h1{
    flex:1;
}
#doneicon
{
    flex:2;
    display:flex;
    justify-content: flex-end;
}


#newtaskform{
    padding:10%;
}

#newtaskform mat-form-field.mat-form-field
{
    width:100%;
    margin-top:16px;
}

span{
    color:blue;
    text-decoration: underline;
}

